h1 {
    display : flex;
    justify-content: center;
    color :#cccccc
}

body {
    background-color : #060ce9;
}

table {
    color :#cccccc;
    border : 5px, solid, black,;
    width : 100%;
    height : 90%;
    border-spacing: 0px; 
};

td {
    padding: 10px;
}

tr {
    text-align: center;
}

td {
    border: 5px solid black;
}

th {
    border: 5px solid black;
}

td:hover {
    border: 5px, solid, #FFCC00;
    transition: 0.4s;
}

th:hover {
    border: 5px, solid, #FFCC00;
    transition: 0.4s;
}

.jeapordy-button {
    color :#cccccc;
    background-color: #060ce9;
    border : solid, #060ce9; 
}
